# Telegram Bot
aiogram>=3.3.0
aiofiles>=23.2.1

# HTTP requests
httpx>=0.26.0

# Database
sqlalchemy[asyncio]>=2.0.25
aiosqlite>=0.19.0

# Validation
pydantic>=2.5.3
pydantic-settings>=2.1.0

# Logging
loguru>=0.7.2

# Cache
aiocache>=0.12.2

# Utils
python-dotenv>=1.0.0
APScheduler>=3.10.4